#version: '3.8'

services:
  nginx:
    container_name: nginx
    build:
      context: ./requirements/nginx
      dockerfile: Dockerfile
    image: nginx
    depends_on:
      - wordpress
    ports:
      - "443:443"
    volumes:
      - wordpress_volume:/var/www/wordpress
    restart: always

  wordpress:
    container_name: wordpress
    build:
      context: ./requirements/wordpress
      dockerfile: Dockerfile
    image: wordpress
    env_file:
      - ./.env
    depends_on:
      - mariadb
    volumes:
      - wordpress_volume:/var/www/wordpress
    restart: always

  mariadb:
    container_name: mariadb
    build:
      context: ./requirements/mariadb
      dockerfile: Dockerfile
    image: mariadb
    env_file:
      - ./.env
    volumes:
      - mariadb_volume:/var/lib/mysql
    restart: always

volumes:
  wordpress_volume:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/Users/ael-garr/data/wordpress_data'
      # device: '/home/ael-garr/data/wordpress_data'
  mariadb_volume:
    driver: local
    driver_opts:
      type: 'none'
      o: 'bind'
      device: '/Users/ael-garr/data/mariadb_data'
      # device: '/home/ael-garr/data/mariadb_data'





# maybe i should add a hearhcheck for the conainers ??